<script>
  function onSubmit(){
    return(showLoader(true));
  }
</script>
<div class="w3-sand w3-topbar w3-bottombar w3-border-gray" >
  <div class="w3-cell-row" >
    <repeat group="{{ @env }}" key="{{ @ekey }}" value="{{ @evalue }}">
      <div class="w3-cell w3-left w3-padding-small w3-small">
        <span class="w3-tag w3-light-grey w3-border"><b>{{ @ekey }}</b></span>
        <span class="w3-tag w3-white w3-border">{{ @evalue }}</span>
      </div>
    </repeat>
  </div>
</div>
<div class="w3-card w3-round w3-section" style="max-width: 400px;margin: auto;">
  <div class="w3-cell-row w3-dark-gray">
    <div class="w3-cell w3-padding">
      <label><b>{{ @title }}</b></label>
    </div>
  </div>
  <div class="w3-light-grey" style="padding: 8px 0px;">
    <div class="w3-cell-row">
      <div class="w3-cell">
        <form action="/password_login" method="post" onsubmit="onSubmit();" >
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>username</b></label>
              <input name="username" class="w3-input w3-border w3-round" 
                type="text" value="{{ @username }}" required>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>password</b></label>
              <input name="password" class="w3-input w3-border w3-round" 
                type="password" value="{{ @password }}">
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>database</b></label>
              <input name="database" class="w3-input w3-border w3-round" 
                type="text" value="{{ @database }}" required>
            </div>
          </div>
          <check if="{{ @error }}">
            <div class="w3-cell-row w3-padding w3-sand">
              <label class="w3-text-red"><b>&#9785; {{ @error }}</b></label>
            </div>
          </check>
          <check if="{{ @result }}">
            <div class="w3-cell-row w3-padding w3-sand">
              <div class="w3-cell-row" >
                <div class="w3-cell w3-padding-tiny">
                  <label><b>engine: </b></label>
                  <label class="w3-text-green">{{ @result['engine'] }}</label>
                </div>
                <div class="w3-cell w3-padding-tiny w3-center">
                  <label><b>version: </b></label>
                  <label class="w3-text-green">{{ @result['version'] }}</label>
                </div>
                <div class="w3-cell w3-padding-tiny w3-right-align">
                  <label><b>token:</b></label>
                </div>
              </div>
              <div style="inline-size: 350px;max-width: 100%;overflow-wrap: break-word;margin: auto;" >
                <label class="w3-text-green w3-tiny">{{ @result['token'] }}</label>
              </div>
            </div>
          </check>
          <div class="w3-cell-row w3-padding-small w3-border-top">
            <div class="w3-cell w3-padding-small" style="width: 110px;">
              <label class="w3-text-blue"><b>API type</b></label>
            </div>
            <div class="w3-cell w3-padding-small">
              <select class="w3-select w3-round" name="api_type">
                <repeat group="{{ @api_values }}" value="{{ @api }}">
                  <option value="{{ @api }}" {{ @api_type==@api?'selected="selected"':'' }}>{{ strtoupper(@api) }}</option>
                </repeat>
              </select> 
            </div>
          </div>
          <div class="w3-cell-row">
            <div class="w3-cell w3-padding w3-center">
              <input type="submit" value="Login" 
                class="w3-button w3-black w3-round" style="font-weight: bold;" 
              />
            </div>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
