{% extends "base.html" %}
{% block content %}
<div class="w3-sand w3-topbar w3-bottombar w3-border-gray" >
  <div class="w3-cell-row" >
    {% for key in env %}
      <div class="w3-cell w3-left w3-padding-small w3-small">
        <span class="w3-tag w3-light-grey w3-border"><b>{{key}}</b></span>
        <span class="w3-tag w3-white w3-border">{{env[key]}}</span>
      </div>
    {% endfor %}
  </div>
</div>
<iframe src = "{{client_url}}" style="position: absolute; height: 90%; width: 100%; border: none" frameborder="0">
  Sorry your browser does not support inline frames.
</iframe>

{% endblock %}