{% extends "base.html" %}
{% block content %}
<style>
  .results {
    word-break: break-all;
  }
</style>
<script>
  function onSubmit(){
    return(showLoader(true));
  }
</script>
<div class="w3-sand w3-topbar w3-bottombar w3-border-gray" >
  <div class="w3-cell-row" >
    {% for key in env %}
      <div class="w3-cell w3-left w3-padding-small w3-small">
        <span class="w3-tag w3-light-grey w3-border"><b>{{key}}</b></span>
        <span class="w3-tag w3-white w3-border">{{env[key]}}</span>
      </div>
    {% endfor %}
  </div>
</div>

<div class="w3-card w3-round w3-section" style="max-width: 800px;margin: auto;">
  <div class="w3-cell-row w3-dark-gray">
    <div class="w3-cell w3-padding">
      <label><b>{{title}}</b></label>
    </div>
  </div>
  <div class="w3-light-grey" style="padding: 8px 0px;">
    <div class="w3-cell-row">
      <div class="w3-cell">
        <form action="/create_database" method="post" onsubmit="onSubmit();" >
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>API-KEY</b></label>
              <input name="api_key" class="w3-input w3-border w3-round" 
                type="text" value="{{api_key}}" required>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>Alias name</b></label>
              <input name="alias" class="w3-input w3-border w3-round" 
                type="text" value="{{alias}}" required>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>Demo database</b></label>
              <select class="w3-select w3-round" name="demo">
                {% for value in ['true','false'] %}
                  <option value="{{value}}" {{ 'selected=selected' if demo == value else ''}} >{{value.upper()}}</option>
                %{% endfor %}
              </select>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small w3-border-top w3-border-bottom">
            <div class="w3-cell w3-padding-small" style="width: 110px;">
              <label class="w3-text-blue"><b>API type</b></label>
            </div>
            <div class="w3-cell w3-padding-small">
              <select class="w3-select w3-round" name="api_type">
                {% for value in ['cli','cgo','rpc','http'] %}
                  <option value="{{value}}" {{ 'selected=selected' if api_type == value else ''}} >{{value.upper()}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="w3-cell w3-padding">
              <input type="submit" value="Create" 
                class="w3-button w3-black w3-round" style="font-weight: bold;" 
              />
            </div>
          </div>
          {% if error %}
            <div class="w3-cell-row w3-padding w3-sand">
              <label class="w3-text-red"><b>&#9785; {{error}}</b></label>
            </div>
          {% endif %}
          {% if result %}
            <div class="w3-container w3-section" >
              <div class="results">
                {% for row in result %}
                  <div class="w3-padding-small w3-small w3-white">
                    <div {{'class="w3-text-red"' if row['state'] == 'err' else ''}} >{{row['stamp'] if 'stamp' in row else ''}}</div>
                    <span {{'class="w3-text-red"' if row['state'] == 'err' else ''}} >{{row['message'] if 'message' in row else ''}}</span>
                    <span {{'class="w3-text-red"' if row['state'] == 'err' else ''}} >{{row['section'] if 'section' in row else ''}}</span>
                    <span {{'class="w3-text-red"' if row['state'] == 'err' else ''}} >{{row['datatype'] if 'datatype' in row else ''}}</span>
                    <div {{'class="w3-text-red"' if row['state'] == 'err' else ''}} >{{row['result'] if 'result' in row else ''}}</div>
                  </div>
                {% endfor %}
                </div>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}