{{define "content"}}
<script>
  function onSubmit(){
    return(showLoader(true));
  }
</script>
<div class="w3-sand w3-topbar w3-bottombar w3-border-gray" >
  <div class="w3-cell-row" >
    {{range $key, $value := .env}}
      <div class="w3-cell w3-left w3-padding-small w3-small">
        <span class="w3-tag w3-light-grey w3-border"><b>{{$key}}</b></span>
        <span class="w3-tag w3-white w3-border">{{$value}}</span>
      </div>
    {{end}}
  </div>
</div>
<div class="w3-card w3-round w3-section" style="max-width: 800px;margin: auto;">
  <div class="w3-cell-row w3-dark-gray">
    <div class="w3-cell w3-padding">
      <label><b>{{.title}}</b></label>
    </div>
  </div>
  <div class="w3-light-grey" style="padding: 8px 0px;">
    <div class="w3-cell-row">
      <div class="w3-cell">
        <form action="/create_invoice" method="post" onsubmit="onSubmit();" >
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>username</b></label>
              <input name="username" class="w3-input w3-border w3-round" 
                type="text" value="{{.username}}" required>
            </div>
            <div class="w3-cell w3-padding-small">
              <label><b>database</b></label>
              <input name="database" class="w3-input w3-border w3-round" 
                type="text" value="{{.database}}" required>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>customer</b></label>
              <textarea name="trans" class="w3-input w3-border w3-round w3-tiny" 
                rows="5" readonly="readonly" >{{.data.customer}}</textarea>
            </div>
            <div class="w3-cell w3-padding-small">
              <label><b>address</b></label>
              <textarea name="trans" class="w3-input w3-border w3-round w3-tiny" 
                rows="5" readonly="readonly" >{{.data.address}}</textarea>
            </div>
            <div class="w3-cell w3-padding-small">
              <label><b>contact</b></label>
              <textarea name="trans" class="w3-input w3-border w3-round w3-tiny" 
                rows="5" readonly="readonly" >{{.data.contact}}</textarea>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small">
            <div class="w3-cell w3-padding-small">
              <label><b>trans</b></label>
              <textarea name="trans" class="w3-input w3-border w3-round w3-tiny" 
                rows="5" readonly="readonly" >{{.data.trans}}</textarea>
            </div>
            <div class="w3-cell w3-padding-small">
              <label><b>items</b></label>
              <textarea name="trans" class="w3-input w3-border w3-round w3-tiny" 
                rows="5" readonly="readonly" >{{.data.items}}</textarea>
            </div>
          </div>
          <div class="w3-cell-row w3-padding-small w3-border-top w3-border-bottom">
            <div class="w3-cell w3-padding-small" style="width: 110px;">
              <label class="w3-text-blue"><b>API type</b></label>
            </div>
            <div class="w3-cell w3-padding-small">
              <select class="w3-select w3-round" name="api_type">
                {{range $index, $value := .api}}
                  <option value="{{$value}}" {{if eq $.api_type $value}} selected {{end}} >{{$value | ToUpper}}</option>
                {{end}}
              </select> 
            </div>
            <div class="w3-cell w3-padding">
              <input type="submit" value="Create" 
                class="w3-button w3-black w3-round" style="font-weight: bold;" 
              />
            </div>
          </div>
          {{if .error}}
            <div class="w3-cell-row w3-padding w3-sand">
              <label class="w3-text-red"><b>&#9785; {{.error}}</b></label>
            </div>
          {{end}}
          {{if .result}}
            <div class="w3-cell-row w3-padding w3-sand">
              <div class="w3-cell w3-padding w3-text-green">
                <b>New invoice id: {{.result}}</b>
              </div>
              <div class="w3-cell w3-padding w3-text-blue">
                <a href="/create_invoice/report/{{.api_type}}/{{.result}}" target="_blank" ><b>Invoice PDF download</b></a>
              </div>
            </div>
          {{end}}
        </form>
      </div>
    </div>
  </div>
</div>

{{end}}